n8n-workflows/03_daily_notifications.json
{
  "name": "Daily Notifications (Global Timezone)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-hourly",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "Users",
        "returnAll": true
      },
      "id": "supabase-get-all",
      "name": "Fetch All Users",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const usersToNotify = [];\n\nfor (const item of $input.all()) {\n  const user = item.json;\n\n  // Skip if they don't have a time or timezone set\n  if (!user.notification_time || !user.timezone) continue;\n\n  try {\n    // Get the current hour in the user's specific timezone\n    const userLocalTimeStr = new Date().toLocaleString('en-US', {\n      timeZone: user.timezone,\n      hour12: false,\n      hour: 'numeric'\n    });\n\n    let userCurrentHour = parseInt(userLocalTimeStr, 10);\n    if (userCurrentHour === 24) userCurrentHour = 0;\n\n    // The DB stores time as \"18:00:00\". Extract the \"18\".\n    const preferenceHour = parseInt(user.notification_time.split(':')[0], 10);\n\n    // Match!\n    if (userCurrentHour === preferenceHour) {\n      usersToNotify.push(item);\n    }\n  } catch (e) {\n    // Skip if timezone string is invalid\n    continue;\n  }\n}\n\nreturn usersToNotify;"
      },
      "id": "code-timezone-filter",
      "name": "Filter by Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.onesignal.com/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Key YOUR_ONESIGNAL_REST_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": \"YOUR_ONESIGNAL_APP_ID\",\n  \"include_subscription_ids\": [\"{{ $json.push_id }}\"],\n  \"contents\": {\n    \"en\": \"Tailsmati: It is time for your daily reading session!\"\n  }\n}"
      },
      "id": "http-onesignal-push",
      "name": "Send Push via OneSignal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Users": {
      "main": [
        [
          {
            "node": "Filter by Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Timezone": {
      "main": [
        [
          {
            "node": "Send Push via OneSignal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}