n8n-workflows/03_daily_notifications.json
{
  "name": "Daily Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-hourly",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Force the time to Asia/Dhaka so it matches your local clock\nconst dhakaTimeStr = new Date().toLocaleString('en-US', { timeZone: 'Asia/Dhaka' });\nconst dhakaDate = new Date(dhakaTimeStr);\n\nconst h = dhakaDate.getHours();\nconst hourStr = String(h).padStart(2, '0') + ':00:00';\nconst nextH = (h + 1) % 24;\nconst nextHourStr = String(nextH).padStart(2, '0') + ':00:00';\n\nreturn [{ json: { hourStr, nextHourStr } }];"
      },
      "id": "code-current-hour",
      "name": "Current Hour Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "Users",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=notification_time=gte.'{{ $json.hourStr }}'&notification_time=lt.'{{ $json.nextHourStr }}'"
      },
      "id": "supabase-get-users",
      "name": "Get Users by Notification Time",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.onesignal.com/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Key YOUR_ONESIGNAL_REST_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app_id\": \"YOUR_ONESIGNAL_APP_ID\",\n  \"include_subscription_ids\": [\"{{ $json.push_id }}\"],\n  \"contents\": {\n    \"en\": \"Tailsmati: It is time for your daily reading session!\"\n  }\n}"
      },
      "id": "http-onesignal-push",
      "name": "Send Push via OneSignal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Current Hour Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Hour Range": {
      "main": [
        [
          {
            "node": "Get Users by Notification Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users by Notification Time": {
      "main": [
        [
          {
            "node": "Send Push via OneSignal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}