n8n-workflows/04_completion_log.json
{
  "name": "Completion Log",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "completion-log",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-completion",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "completion-log"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-status-completed",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-status-completed",
      "name": "If Status COMPLETED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Completions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookId": "={{ $json.body.bookId }}",
            "userId": "={{ $json.body.userId }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append-row",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Status COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Status COMPLETED": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
